
.avatar-container {
	width: 250px;
	height: 250px;
	position: relative;
}

.avatar {
	width: 100%;
	height: 100%;
	border-radius: 10%;
	background-color: #f5f5f5;
	overflow: hidden;
}

.avatar-img {
	width: 100%;
	height: 100%;
}

.cameraIcon {
	position: absolute !important;
	height: 3rem;
	width: 3rem;
	bottom: 0;
	right: 0;
	background-color: white !important;
}

.cameraIcon:hover {
		background-color: white !important;
	}