.user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 20px;

}

.card .bg-primary {
    background-color: #fe5f59 !important;
}

.user-box img {
    width: 100%;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.messages-list {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px
}

.profile-card-2 .card {
    position: relative;
}

.profile-card-2 .card .card-body {
    z-index: 1;
}

.profile-card-2 .card::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 112px;
    background-color: #e6e6e6;
}

.profile-card-2 .card.profile-primary::before {
    background-color: rgba(231, 8, 8, 0.7);
}

.profile-card-2 .card.profile-success::before {
    background-color: #15ca20;
}

.profile-card-2 .card.profile-danger::before {
    background-color: #fd3550;
}

.profile-card-2 .card.profile-warning::before {
    background-color: #ff9700;
}

.profile-card-2 .user-box {
    margin-top: 30px;
}

.profile-card-3 .user-fullimage {
    position: relative;
}

.profile-card-3 .user-fullimage .details {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
}

.profile-card-4 .user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.profile-card-4 .list-icon {
    display: table-cell;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: middle;
    color: #223035;
}

.profile-card-4 .list-details {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    color: #223035;
    font-size: 15px;
    line-height: 15px;
}

.profile-card-4 .list-details small {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
}

/*Nav Tabs & Pills */
.nav-tabs .nav-link {
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2px;
    margin-bottom: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}

/* .tab-pane form {
    padding: 0;
} */


.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

.nav-tabs .nav-link i {
    margin-right: 2px;
    font-weight: 600;
}

.top-icon.nav-tabs .nav-link i {
    margin: 0px;
    font-weight: 500;
    display: block;
    font-size: 20px;
    padding: 5px 0;
}

.nav-tabs-primary.nav-tabs {
    border-bottom: 1px solid #008cff;
}

.editForm {
    align-items: left !important;
    justify-content: left !important;
    overflow: visible !important;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 767px) {
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.main-wrapper {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin-left: 60px;
    padding-bottom: 85px;
    position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .main-wrapper {
        margin-left: 0;
        margin-left: 60px;
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        padding-bottom: 110px;
        margin-left: 30px;
    }
}

.main-wrapper.active {
    margin-left: 0;
}

.main-wrapper .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 767px) {
    .main-wrapper .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}