footer{
  background: #063970;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo_details{
  color: #fff;
  font-size: 30px;
}
.content .top .mediaIcons{
  display: flex;
}
.content .top .mediaIcons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .mediaIcons a:nth-child(1){
  background: #4267B2;
}
.top .mediaIcons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .mediaIcons a:nth-child(2){
  background: #1DA1F2;
}
.top .mediaIcons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .mediaIcons a:nth-child(3){
  background: #E1306C;
}
.top .mediaIcons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .mediaIcons a:nth-child(4){
  background: #0077B5;
}
.top .mediaIcons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .mediaIcons a:nth-child(5){
  background: #FF0000;
}
.top .mediaIcons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}

footer .bottom_details{
  width: 100%;
  background: #064283;
}
footer .bottom_details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom_details .bottom_text span,
.bottom_details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom_details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom_details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo_details{
    font-size: 26px;
  }
  .content .top .mediaIcons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  .bottom_details .bottom_text span,
  .bottom_details .bottom_text a{
    font-size: 12px;
  }
}

@media (max-width: 520px){
  footer{
    position: relative;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .mediaIcons{
    margin-top: 16px;
  }
}