section.mastheadUser {
    height: 87vh;
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://linstant-m.tn/uploads/aa30c4858c4cc168195f30102a7a6e3f1f9ee3f8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  section.mastheadUser h1, section.mastheadUser .h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    section.mastheadUser {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    section.mastheadUser p {
      font-size: 1.15rem;
    }
    section.mastheadUser h1, section.mastheadUser .h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    section.mastheadUser h1, section.mastheadUser .h1 {
      font-size: 3.5rem;
    }
  }