  
  .text-black {
    color: #000; 
  }
  
  
  .list-unstyled .text{
    color: #fff;
  }
  .contact-info p {
    color: #fff;
  }

  
  .heading {
    font-size: 2.5rem;
    font-weight: 900; }
  
  .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }
    .contentContact .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  .contentContact .col-form-label {
    color: #000;
    font-size: 13px; }
  
  
  
  .contentContact .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2); }
    .contact-wrap .col-form-label {
      font-size: 14px;
      color: #000;
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 0; }
    .contact-wrap .form, .contact-wrap .contact-info {
      padding: 40px; }
    .contact-wrap .contact-info {
      color: #000; }
      .contact-wrap .contact-info ul li {
        margin-bottom: 15px;
        color: #000; }
        .contact-wrap .contact-info ul li .wrap-icon {
          font-size: 20px;
          color: #000;
          margin-top: 5px; }
    .contact-wrap .form {
      background: #fff; }
      .contact-wrap .form h3 {
        color: #F54E4E;
        font-size: 20px;
        margin-bottom: 30px; }
    .contact-wrap .contact-info {
      background: rgba(231, 8, 8, 0.7); }
      .contact-wrap .contact-info h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 30px; }
  
  label.error {
    font-size: 12px;
    color: rgb(255, 255, 255); }

    .contentContact .main-btn {
      display: inline-block;
      padding: 0 25px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      line-height: 55px;
      border: 2px solid #F54E4E;
      border-radius: 5px;
      background-color: #F54E4E;
      color: #fff;
    }
    
    .contentContact .main-btn:hover {
      background-color: rgba(231, 8, 8, 0.7);
      color: #fff;
      border-color: transparent;
    }
  
 

  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }

    .Send{
        width: 10px;
        padding-bottom: 10px;
    }

    @media (max-width: 870px)
    {
        .contactform {
            padding: 0 0rem;
        }
    }
    .messageDiv{
        padding-top: 50px;
    }

    .buttonContact{
        margin-top: 31px !important;
    }
  