.headershape {
  position: absolute;
  top: 0;
  right: 0;
  width: 42.8%;
  height: 100%;
  background-image: url(../../assets/headershape.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
}